<%= form_for(parcel, url: {office: params[:office]}) do |f| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
      <% parcel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    Valor Recebido <br />
    <%= f.number_field :value, step: :any, placeholder: 'R$ 100,00', class: 'form-control', required: true %>
  </div>

  <div class="field form-group">
    Observação <br />
    <%= f.text_area :observation, class: 'form-control' %>
  </div>

  <div class="actions mb-4">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>


  <%= link_to 'Voltar', office_visits_path(id_patient: params[:id_patient]), class: 'btn btn-warning mb-4' %>
<% end %>
