<p id="notice"><%= notice %></p>

<h1>Listagem de Consultas</h1>

<p>
  Paciente: <b><%= @patient.name %></b>
</p>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Anexos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_visits.each do |office_visit| %>
      <tr>
        <td><%= office_visit.description %></td>
        <td>
          <% office_visit.documents.each_with_index do |document, index| %>
            <%= link_to("Anexo #{index + 1} ", document.url, target: '_blank') %>
            <br />
          <% end %>
        </td>
        <td><%= link_to 'Exibir', office_visit, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_office_visit_path(office_visit, id_patient: @patient), class: 'btn btn-success' %></td>
        <td><%= link_to 'Cancelar', office_visit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova consulta', new_office_visit_path(id_patient: @patient), class: 'btn btn-primary' %>

<br>

<%= link_to 'Voltar', patients_path, class: 'btn btn-warning mt-4' %>