<section class="new_patient text-center">
    <h4>Cadastro do Formulário</h4>
    <%= form_with(model: @form, url: {action: 'create', id: params[:id]}, class: 'principal-form') do |f| %>
        <section class="card">
          <section class="card-header">
            Dados da Entrevista
          </section>

          <section class="card-body">
            <section class="row">
              <section class="col-6">
                Momento Pessoal <br />
                <%= f.text_area :personal_moment, required: true %>
              </section>

              <section class="col-6">
                Momento Profissional <br />
                <%= f.text_area :profissional_moment, required: true %>
              </section>

              <section class="col-6">
                Autopercepção e Interesses <br />
                <%= f.text_area :interests, required: true %>
              </section>

              <section class="col-6">
                Conclusões da Entrevista <br />
                <%= f.text_area :conclusions, required: true %>
              </section>
            </section>
          </section>
        </section>

        <section class="card intelectual-area">
          <section class="card-header">
            Área Intelectual
          </section>

          <section class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Habilidades</th>
                  <th>Conceito</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Potencial Intelectual</td>
                  <td><%= f.text_field :intelectual_map, multiple: true, required: true %></td>
                </tr>

                <tr>
                  <td>Atenção Concentrada</td>
                  <td><%= f.text_field :intelectual_map, multiple: true, required: true %></td>
                </tr>

                <tr>
                  <td>Atenção Difusa</td>
                  <td><%= f.text_field :intelectual_map, multiple: true, required: true %></td>
                </tr>

                <tr>
                  <td>Habilidade  Numérica</td>
                  <td><%= f.text_field :intelectual_map, multiple: true, required: true %></td>
                </tr>
              </tbody>
            </table>

            <section class="text-center font-weight-bold table-description">
              <ul>
                <li>S – Superior</li>
                <li>MS – Médio Superior</li>
                <li>M – Médio</li>
                <li>MI – Médio Inferior</li>
                <li>I – Inferior</li>
              </ul>
            </section>
          </section>
        </section>

        <section class="card">
          <section class="card-header">
            Características de Personalidade
          </section>

          <section class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Organização</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Adaptação</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Iniciativa</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                </tr>

                <tr>
                  <td>Relacionamento</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Trabalho sob Pressão</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Dinamismo</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                </tr>

                <tr>
                  <td>Comunicação</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Proatividade</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                  <td>Trabalho Equipe</td>
                  <td><%= f.text_field :personalities_characteristics, multiple: true, required: true %></td>
                </tr>
              </tbody>
            </table>

            <section class="text-center font-weight-bold table-description">
              <ul>
                <li>MB – Muito Bom</li>
                <li>B – Bom</li>
                <li>R – Regular</li>
                <li>I – Insatisfatório</li>
              </ul>
            </section>
          </section>
        </section>

        <section class="card facilities">
          <section class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Competências Facilitadoras</th>
                  <th>Aspectos Limitadores</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
                <tr id="0">
                  <td><%= f.text_field :facilities, multiple: true, required: true %></td>
                  <td><%= f.text_field :dificulties, multiple: true, required: true %></td>
                  <td><div class="remove-aspects" onclick="remove(0)"><i class="fa fa-times"></i></div></td>
                </tr>
              </tbody>
            </table>

            <div class="add-aspects pull-right">
              +
            </div>
          </section>
        </section>

        <section class="card">
          <section class="card-header">
            Dados Psicológicos
          </section>

          <section class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Dados</th>
                  <th>Conceito <br /> <small>(mínimo 0, máximo 3)</small></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Dinamismo</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Comunicação</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Trabalho em Equipe</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Relacionamento</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Organização</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Adaptação</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Trabalho sob pressão</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Proatividade</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>

                <tr>
                  <td>Iniciativa</td>
                  <td><%= f.number_field :psicological_concepts, multiple: true, min: 0, max: 3, required: true %></td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>

        <section class="card">
          <section class="card-body">
            Diagnóstico de Desempenho <br />
            <%= f.text_area :performance_diagnostic, required: true %>
          </section>
        </section>

        <br />

        <%= f.submit 'Salvar', class: 'btn btn-primary save' %>
    <% end %>
</section>
