<section class="patient text-center">
  <h3>Listagem de todos os candidatos cadastrados <%= fa_icon "user-circle" %></h3>


  <% @patients.each do |patient| %>
    <section class="card patients-list">
      <section class="row">
        <section class="col-2">
          <% if patient.avatar.url.present? %>
            <%= image_tag(patient.avatar.medium.url) %>
          <% end %>
        </section>

        <section class="col-8 pt-3">
          <h3><%= patient.name %></h3>

          <% if patient.form.present? %>
            <p><%= truncate(patient.form.personal_moment, :length => 50, separator: ' ') %></p>
            <%= link_to 'Visualizar PDF', form_export_path(patient_id: patient, format: :pdf), target: "_blank" %>
            <%= link_to 'Editar Formulário', form_edit_path(patient_id: patient.form.id) %>
            <%= link_to 'Editar Perfil', patient_edit_path(patient_id: patient) %>
            <%= link_to 'Gráfico', patient_graph_path(patient_id: patient) %>
          <% else %>
            <%= link_to 'Preencher Formulário', form_new_path(patient_id: patient.id) %>
            <%= link_to 'Editar Perfil', patient_edit_path(patient_id: patient) %>
          <% end %>
        </section>

        <section class="col-2 pt-4 mt-4">
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, {action: :destroy, id: patient.id}, data: { confirm: 'Tem certeza?' }, title: 'Excluir', class: 'delete' %>
        </section>
      </section>
    </section>
  <% end %>
</section>
