<%= form_for(patient) do |f| %>
  <section class="card">
        <section class="card-header">
          Identificação do Candidato
        </section>

        <section class="card-body">
          <section class="row">
            <section class="col-6">
              Empresa <br />
              <%= f.text_field :company %>
            </section>

            <section class="col-6">
              Estado Civil* <br />
              <%= f.text_field :marital_status, required: true %>
            </section>

            <section class="col-6">
              Nome do Candidato* <br />
              <%= f.text_field :name, required: true %>
            </section>

            <section class="col-6">
              Escolaridade* <br />
              <%= f.text_field :schooling, required: true %>
            </section>

            <section class="col-6">
              Idade* <br />
              <%= f.number_field :age, min: 0, required: true %>
            </section>

            <section class="col-6">
              Cargo <br />
              <%= f.text_field :office %>
            </section>
          </section>

          <% if current_user.category == 'Autônomo' %>
            <section class="text-center mt-4">
                Código de segurança <br />
                <small>Código para acessar as consultas do paciente</small>
                <%= f.password_field :code, class: 'text-center' %>
            </section>
          <% end %>


          <section class="inferior-buttons">
            <%= f.file_field :avatar, class: 'photo' %>

            <br />

            <%= f.submit 'Salvar', class: 'btn btn-primary save' %>

            <br />

            <%= link_to 'Voltar', :back, class: 'btn btn-warning m-4' %>
          </section>
        </section>
      </section>
<% end %>
