<section class="patient text-center">
  <h3>Listagem de todos os candidatos cadastrados <%= fa_icon "user-circle" %></h3>

  <%= form_tag(patients_path, method: :get, class: "form-group")  do %>
      <section class="row">
        <%= text_field_tag :search, params[:search], class: "form-control text_form col-md-10 ml-2", placeholder: 'Busque por algum candidato!' %>
        <%= submit_tag ("Procurar"), class: "form-control button_form col-md-1 ml-2" %>
      </section>
      <small>O campo de busca procura por Nome, Empresa, Estado Civil, Escolaridade, Cargo </small>
  <% end %>

  <% @patients.each do |patient| %>
    <section class="card patients-list">
      <section class="row">
        <section class="col-md-2">
          <% if patient.avatar.url.present? %>
            <%= image_tag(patient.avatar.medium.url) %>
          <% end %>
        </section>

        <section class="col-md-8 pt-3">
          <h3><%= patient.name %></h3>

          <% if current_user.category == "Empresa" %>
            <% if patient.form.present? %>
              <p><%= truncate(patient.form.personal_moment, :length => 50, separator: ' ') %></p>
              <section class="row">
                <%= link_to 'Visualizar PDF', export_forms_path(id: patient, format: :pdf), class: 'col-lg-3', target: "_blank" %>
                <%= link_to 'Editar Formulário', edit_form_path(patient.form.id), class: 'col-lg-2' %>
                <%= link_to 'Editar Perfil', edit_patient_path(patient), class: 'col-lg-2' %>
                <%= link_to 'Gráfico', graph_patients_path(id: patient), class: 'col-lg-2' %>
              </section>
            <% else %>
              <section class="row">
                <%= link_to 'Preencher Formulário', new_form_path(id: patient), class: 'col-md-5' %>
                <%= link_to 'Editar Perfil', edit_patient_path(patient), class: 'col-md-5' %>
              </section>
            <% end %>
          <% else %>
            <table class="text-center col-md-12">
              <tr>
                <td><%= link_to 'Consultas', validation_patients_path(id: patient)  %></td>
                <td><%= link_to 'Agendar Consulta', new_office_visit_path(id_patient: patient, register: true) %></td>
                <td><%= link_to 'Editar Perfil', edit_patient_path(patient) %></td>
              </tr>
            </table>
          <% end %>

        </section>

        <section class="col-md-2 pt-4 mt-4">
          <%= link_to patient, method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </section>
      </section>
    </section>
  <% end %>

  <br />

  <%= will_paginate @patients %>
</section>
