<section class="form_session text-center offset-md-4 col-md-4">
  <%= image_tag 'logo.png', alt: 'Logo Elephant RH' %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="form-row justify-content-center">
     <section class="form-group">
       <section class="input-group mx-auto">
         <section class="input-group-prepend">
           <span class="input-group-text"><%= fa_icon "user" %></span>
         </section>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'email' %>
       </section>
     </section>
   </section>

   <section class="form-row justify-content-center">
     <section class="form-group">
       <section class="input-group mx-auto">
         <section class="input-group-prepend">
           <span class="input-group-text"><%= fa_icon "lock" %></span>
         </section>
         <%= f.password_field :password, autocomplete: "Senha", placeholder: 'Senha' %>
       </section>
     </section>
   </section>

    <% if devise_mapping.rememberable? %>
      <section class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </section>
    <% end %>

    <section class="actions">
      <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
    </section>
  <% end %>

  <br />
    
  <section class="actions">
    <%= link_to 'Registrar-se', new_user_registration_path, class: 'btn btn-success' %>
  </section>

  <br />

  <section class="actions">
    <%= link_to 'Esqueceu sua senha?', new_user_password_path, class: 'btn btn-dark' %>
  </section>
</section>
